[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
starlette = "*"
uvicorn = "*"
pycountry = "*"
ujson = "*"
gunicorn = "*"
"geoip2" = "*"
requests = "*"
"jinja2" = "*"
aiofiles = "*"

[dev-packages]
pylint = "*"
black = "*"
"flake8" = "*"

[requires]
python_version = "3.7"
