<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>IP GEOlocation API</title>
  </head>
  <body>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <img src="/static/logo.svg" alt="Geolocation API logo" class="mt-5" />
                <h1 class="mt-3">
                    IP GEOlocation API
                </h1>
            </div>
        </div>
    </div>
  </body>
</html>